.block{
    background-color: black;
    color: whitesmoke;
    width: 30vw;
    height: 30vh;
}
body{
    font-size: 1.5rem;
}
.left{
   float: left;
   margin-right: 30px;
}

.right{
    float: right;
    margin-left: 30px;
}
.clear{
    clear: both;
}
section{
    font-size: 1.75rem;
    border: 2px;
    border-color: black;
    background-color: chartreuse;
    padding: 1rem;
    overflow: auto;
}