body{
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
 
    text-align: center;
}

nav{
    border: 3px solid red;
    font-size: 2rem;
    border-radius: 2rem;
    line-height: 7rem;
    margin: 0 auto;
    max-width: 35rem;
    
    
  
    
}
h2{
    padding: 2rem;
    background-color: cornflowerblue;
}
ul{
    list-style-type:none ;
}
li{
    
    border-top: 2px solid black;
}
li a,li a:visited{ 
       text-decoration: none;
       color: aqua;

}
li a:hover,li a:focus{
    background: black;
    color: whitesmoke;
}
li a{
    display: block;
}
li a:last-child(3){
    
}