ol li :nth-child(2){
    list-style-type:upper-latin;
    list-style-position: inside;
    color: aqua;
}

ul li:nth-last-child(2){
    list-style-position: inside;
    color: chartreuse;
    
}

::marker{
    color:blue;
    font-size: 2em;
}